//-----------------------------------------------
// FONTS
//-----------------------------------------------

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Bold.ttf);
    font-weight:600;
}

//-----------------------------------------------
// COLORS
//-----------------------------------------------

$C_BG: #e6e6e6;
$C_BG_DARK: #c4c4c4;

$C_UI_GRAY1: #dcdcdc;
$C_UI_GRAY2: #646464;
$C_UI_GRAY3: #cecece;
$C_UI1: #3cb879;
$C_UI2: #f8941d;

//-----------------------------------------------
// TYPOGRAPHY
//-----------------------------------------------

h1, div, span {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
h1 {
    font-size: 14px;
    font-weight: 300;
    color: $C_UI_GRAY2;
    margin: 2px 0;
}
body {
    font-family: Lato;
    font-size: 10px;
}

//-----------------------------------------------
// LAYOUT
//-----------------------------------------------

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: $C_BG;
}
.pg {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.header {
    position: relative;
    padding: 20px;
    span {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        font-size: 12px;
        line-height: 12px;
    }
    .oflogo {
        display: inline-block;
        width: 43px;
        height: 24px;
        background-color: $C_UI_GRAY2;
        vertical-align: middle;
    }
}
buttons-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0 40px 0 20px;
    height: 60px;
    line-height: 60px;
    background-color: $C_BG_DARK;
    box-sizing: border-box;
    overflow: hidden;
    button:first-child {
        float: left;
        margin-top: 11px;
    }
    button:nth-child(2) {
        float: right;
        margin-top: 11px;
    }

    .animate-if.ng-enter {
        -webkit-transition: all 0.3s ease-out;
        position: absolute;
        top: 100%;
        left: 20px;
        width: calc(100% - 60px);
        box-sizing: border-box;
        opacity: 1;

    }

    .animate-if.ng-enter-active {
        top: 0;
    }
    .animate-if.ng-leave {
        -webkit-transition: all 0.3s ease-out;
        position: absolute;
        top: 0%;
        left: 20px;
        width: calc(100% - 60px);
        box-sizing: border-box;
        opacity: 1;
    }

    .animate-if.ng-leave-active {
        top: 100%;
    }
}
.content {
    position: relative;
    padding: 20px;
    navigation {
        display: block;
        height: 50px;
        width: 100%;
        position: absolute;
        top: -60px;
        left: 0;
        a {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}

//-----------------------------------------------
// SCROLLBARS
//-----------------------------------------------

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: $C_UI_GRAY1;
}
::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: $C_UI_GRAY2;
}

//-----------------------------------------------
// COMPONENTS
//-----------------------------------------------

input[type=text] {
    font-family: Lato;
    font-weight: 100;
    background-color: $C_UI_GRAY1;
    outline: none;
    padding: 8px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $C_UI_GRAY1;
    &:focus {
        border: 1px solid darken($C_UI_GRAY1, 20);
    }
}

optionitem {
    display:inline-block;
    background-color: $C_UI_GRAY1;
    color: $C_UI_GRAY2;
    padding: 10px 14px;
    &.enabled {
        background-color: $C_UI_GRAY2;
        color: $C_UI_GRAY1;
        &:before {
            content: "x";
            margin-left: -4px;
            margin-right: 10px;
            font-size: 12px;
        }
    }
}

section {
    position: relative;
    display: block;
    border: 3px dashed $C_UI_GRAY3;
    padding: 12px 16px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    &:after {
        display: block;
        content: "";
        clear: both;
    }
    &.focus {
        border: 3px dashed $C_UI_GRAY2;
    }
}
a {
    font-size: 12px;
    cursor: pointer;
    color: $C_UI_GRAY3;
    &:hover {
        color: $C_UI_GRAY2;
    }
}
a.button {
    display: inline-block;
    background-color: $C_UI_GRAY2;
    border: 1px solid $C_UI_GRAY2;
    border-radius: 3px;
    padding: 0 9px;
    color: white;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    float: right;
    text-decoration: none;
    outline: none;
    &:focus {
        border: 1px solid darken($C_UI_GRAY2, 40);
    }
    &.small {
        border-radius: 0;
    }
}

a.settings {
    width: 26px;
    height: 26px;
    background-image: url(../images/settings.png);
    background-repeat: no-repeat;
    background-color: $C_UI_GRAY2;
    border: 1px solid $C_UI_GRAY2;
    border-radius: 3px;
    outline: none;
    &:focus {
        border: 1px solid darken($C_UI_GRAY2, 40);
    }

}

button {
    background-color: $C_UI_GRAY2;
    border: 1px solid $C_UI_GRAY2;
    padding: 9px 25px;
    border-radius: 3px;
    outline: none;
    color: white;
    font-family: Lato;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    &:focus {
        border: 1px solid darken($C_UI_GRAY2, 40);
    }
    &.warning {
        background-color: $C_UI2;
        border: 1px solid $C_UI2;
        &:focus {
            border: 1px solid darken($C_UI2, 20);
        }
    }

    &.safe {
        background-color: $C_UI1;
        border: 1px solid $C_UI1;
        &:focus {
            border: 1px solid darken($C_UI1, 20);
        }
    }
    &.up {
        background: url(../images/aUp.png) no-repeat $C_UI_GRAY2;
        background-position: 9px 11px;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
browse-folder {
    position: relative;
    display: block;
}
.baloon {
    position: absolute;
    background-color: rgba($C_UI_GRAY2, 0.9);
    padding: 18px;
    color: white;
    opacity: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    -webkit-transition: all 0.3s ease-out;
    user-select: none;
    h1 {
        color: white;
        font-size: 20px;
        font-weight: 300;
    }
    ul {
        padding: 15px;
        margin: 0;
        li {
            font-size: 12px;
            line-height: 16px;
            font-weight: 300;
        }
    }
    &.visible {
        display: block;
        opacity: 1;
    }
    &.top {
        top: calc(100% + 5px);
        margin-top: 30px;
        &:after {
            position: absolute;
            top: -30px;
            left: calc(50% - 25px);
            content: "";
            border-style: solid;
            border-width:  0 25px 30px 25px;
            border-color: transparent transparent rgba($C_UI_GRAY2, 0.9) transparent;
        }
    }
    &.bottom {
        bottom: calc(100% + 5px);
        margin-bottom: 30px;
        &:after {
            position: absolute;
            bottom: -30px;
            left: calc(50% - 25px);
            content: "";
            border-style: solid;
            border-width: 30px 25px 0 25px;
            border-color: rgba($C_UI_GRAY2, 0.9) transparent transparent transparent;
        }
    }
}
//ANIMATIONS
.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    opacity: 0;
}

.ng-enter-active {
    opacity: 1;
}

.animations_enabled {
    .ng-enter {
        position: absolute;
        top: 64px;
        width: 100%;
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease-out;
        opacity: 0;
    }

    .main.ng-enter {
        left: -100%;
    }
    .main.ng-enter-active {
        left: 0%;
        opacity: 1;
    }
    .settings.ng-enter {
        left: 100%;
    }
    .settings.ng-enter-active {
        left: 0%;
        opacity: 1;
    }
    .ng-leave {
        position: absolute;
        -webkit-transition: all 0.3s ease-out;
        left: 0%;
        top: 64px;
        width: 100%;
        opacity: 1;
    }

    .ng-leave-active {
        left: -100%;
        opacity: 0;
    }
    .settings.ng-leave-active {
        left: 100%;
    }
}
