<navigation>
    <a class="settings" no-drag href="#/settings"></a>
</navigation>
<section>
    <h1>PROJECT NAME</h1>
    <input type="text">
    <h1>LOCATION</h1>
    <browse-folder></browse-folder>
    <div class="hint baloon top">
        <h1>YOU CAN ALSO DRAG & DROP:</h1>
        <ul>
            <li>a folder with projects files</li>
            <li>a folder with source code</li>
            <li>source code</li>
            <li>a project file</li>
        </ul>
    </div>
</section>

<section>
    <h1>ADDONS</h1>
    <a class="button small" ng-click="">+</a>
    <div class="hint baloon bottom">
        <h1>YOU CAN ALSO DRAG & DROP:</h1>
        <ul>
            <li>addons in of/addons</li>
            <li>addons locals to your project</li>
        </ul>
    </div>
</section>
<section>
    <h1>PLATFORM</h1>
    <optionitem>IOS</optionitem>
    <optionitem>LINUX</optionitem>
    <optionitem>ARMV6</optionitem>
    <optionitem class="enabled">OSX</optionitem>
</section>

